<footer>
  <div class="item">
    <mat-icon svgIcon="icon-catalog"></mat-icon>
    <p>Catalog</p>
  </div>

  <div class="item active">
    <mat-icon svgIcon="icon-file"></mat-icon>
    <p>Proposals</p>
  </div>

  <div class="item">
    <mat-icon svgIcon="icon-user-group"></mat-icon>
    <p>People</p>
  </div>

  <div class="item">
    <mat-icon svgIcon="icon-dollar"></mat-icon>

    <p>Payments</p>
  </div>

  <div class="item">
    <mat-icon svgIcon="icon-more"></mat-icon>
    <p>More</p>
  </div>
</footer>
