<app-header></app-header>

<div class="app-container">
  <div class="app-container__description">
    <div class="app-container__description--title">
      <h2>Client Description</h2>
      <button>Edit</button>
    </div>
    <div class="app-container__description--card">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo invento veritatis et quasi architecto beatae vitae dicta sunt.
      </p>
      <div class="app-box">
        <button>Show more</button>
        <mat-icon svgIcon="icon-arrow"></mat-icon>
      </div>
    </div>
    <div class="app-container__description--info">+ Add Installer Description</div>
  </div>

  <div class="app-container__items">
    <h2>Items</h2>

    <div class="app-container__items--item">
      <div class="info-section">
        <div class="info-section--intro">
          <div class="image-block">
            <img src="assets/images/mock.webp" alt="TV" />
          </div>
          <div class="text-block">
            <h3>Sony XBR75X900F</h3>
            <p>75" Class HDR UHD Smart LED TV</p>
          </div>
        </div>
        <div class="info-section--profit mt-6">
          <div class="empty"></div>
          <div class="info-group">
            <div class="info-group--item">
              <div class="option">Qty 1 <mat-icon svgIcon="icon-arrow"></mat-icon></div>
            </div>
            <div class="info-group--item">
              <div class="option">$2,503.00 <mat-icon svgIcon="icon-arrow"></mat-icon></div>
              <p>50.4% Profit</p>
            </div>

            <div class="info-group--item">
              <div class="option option-menu">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="order-section">
        <div class="order">
          <p>Change Order 1</p>
          <mat-icon svgIcon="icon-arrow"></mat-icon>
        </div>
      </div>
      <div class="attachments-section">
        <div class="separator-block"></div>
        <div class="info-block">
          <div class="image-block-1">
            <div class="image-block-2">
              <img src="assets/images/mock-2.png" alt="" />
            </div>
          </div>

          <div class="text-info">
            <p>2 Attachments • $3,006.00</p>
            <mat-icon svgIcon="icon-arrow"></mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="app-container__items--item">
      <div class="info-section">
        <div class="info-section--intro">
          <div class="image-block">
            <img src="assets/images/mock.webp" alt="TV" />
          </div>
          <div class="text-block">
            <p class="lite">Custom Item</p>
            <h3>Sony XBR75X900F</h3>
            <p>75" Class HDR UHD Smart LED TV</p>
          </div>
        </div>
        <div class="info-section--profit mt-24">
          <div class="empty">Recurring Tax Exempt</div>
          <div class="info-group">
            <div class="info-group--item">
              <div class="option">Qty 1 <mat-icon svgIcon="icon-arrow"></mat-icon></div>
            </div>
            <div class="info-group--item">
              <div class="option">
                <mat-icon class="icon-percent" svgIcon="icon-percent"></mat-icon>$1,503.00<mat-icon
                  svgIcon="icon-arrow"
                ></mat-icon>
              </div>
              <p>50.4% Profit</p>
            </div>

            <div class="info-group--item">
              <div class="option option-menu">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="order-section">
        <div class="order">
          <p>Change Order 1</p>
          <mat-icon svgIcon="icon-arrow"></mat-icon>
        </div>

        <div class="order order-2">
          <p>Change Order 2</p>
          <mat-icon svgIcon="icon-arrow"></mat-icon>
        </div>

        <div class="order order-3">
          <p>Change Order 2</p>
          <mat-icon svgIcon="icon-arrow"></mat-icon>
        </div>
      </div>
      <div class="attachments-section">
        <div class="separator-block"></div>
        <div class="info-block">
          <div class="image-block-1">
            <div class="image-block-2">
              <img src="assets/images/mock-2.png" alt="" />
            </div>
          </div>

          <div class="text-info">
            <p>2 Attachments • $3,006.00</p>
            <mat-icon svgIcon="icon-arrow"></mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="app-container__items--item">
      <div class="info-section">
        <div class="info-section--intro">
          <div class="image-block">
            <img src="assets/images/mock.webp" alt="TV" />
          </div>
          <div class="text-block">
            <p class="lite">Custom Item</p>
            <h3>Sony XBR75X900F</h3>
            <p>75" Class HDR UHD Smart LED TV</p>
          </div>
        </div>
        <div class="info-section--profit mt-24">
          <div class="empty">Recurring Tax Exempt</div>
          <div class="info-group">
            <div class="info-group--item">
              <div class="option">Qty 1 <mat-icon svgIcon="icon-arrow"></mat-icon></div>
            </div>
            <div class="info-group--item">
              <div class="option">
                <mat-icon class="icon-percent" svgIcon="icon-percent"></mat-icon>$1,504.00<mat-icon
                  svgIcon="icon-arrow"
                ></mat-icon>
              </div>
              <p>50.4% Profit</p>
            </div>

            <div class="info-group--item">
              <div class="option option-menu">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="order-section">
        <div class="order">
          <p>Change Order 1</p>
          <mat-icon svgIcon="icon-arrow"></mat-icon>
        </div>

        <div class="order order-2">
          <p>Change Order 2</p>
          <mat-icon svgIcon="icon-arrow"></mat-icon>
        </div>

        <div class="order order-3">
          <p>Change Order 2</p>
          <mat-icon svgIcon="icon-arrow"></mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="app-container__total">
    <h3>Living Room Total</h3>
    <p>$123,456.78</p>
  </div>

  <div class="app-container__add-new-item">
    <button>
      <div class="line vertical"></div>
      <div class="line horizontal"></div>
    </button>
  </div>
</div>
<app-footer></app-footer>
