<header class="app-header">
  <div class="app-header__navigation">
    <button class="app-header__navigation--back">
      <mat-icon svgIcon="icon-arrow"></mat-icon>
    </button>
    <h2>Living room</h2>
    <button class="app-header__navigation--menu">
      <mat-icon svgIcon="icon-dots"></mat-icon>
    </button>
  </div>
  <div class="app-header__actions">
    <button class="app-header__actions--option active">Option 1</button>
    <button class="app-header__actions--option inactive">Option 2</button>
    <div class="separator"></div>
    <button class="app-header__actions--option inactive">Option 3</button>
  </div>
</header>
